#header {
  height: 61px;
  
  white-space: nowrap;
  font-variant: small-caps;
  
  line-height: normal; /* Bootstrap reset */
}

#header #topArea {
  height: 61px;
  
  background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #C4C4C4 100%); /* Firefox */
  background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #C4C4C4 100%); /* Opera */
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(100, #C4C4C4)); /* Webkit (Safari/Chrome 9) */
  background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #C4C4C4 100%); /* Webkit (Chrome 10+) */
  background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #C4C4C4 100%); /* Internet Explorer 10 Consumer Preview */
  background-image: linear-gradient(to top, #FFFFFF 0%, #C4C4C4 100%);
}

#header #toggleButtonArea {
  position: absolute;
}

#header #navToggleButton {
  position: absolute;
  bottom: 0px;
}

@media (min-width:500px) {
  #header #topArea {
    top: 0px;
    left: 200px;
    right: 200px;
    position: absolute;
  }
  
  #header #topRightArea {
    top: 0px;
    right: 0px;
    position: absolute;
    width: 200px;
    height: 61px;
    
    background-image: -moz-radial-gradient(left top, ellipse farthest-side, #C4C4C4 0%, #FFFFFF 100%); /* Firefox */
    background-image: -o-radial-gradient(left top, ellipse farthest-side, #C4C4C4 0%, #FFFFFF 100%); /* Opera */
    background-image: -webkit-gradient(radial, left top, 0, left top, 515, color-stop(0, #C4C4C4), color-stop(100, #FFFFFF)); /* Webkit (Safari/Chrome 9) */
    background-image: -webkit-radial-gradient(left top, ellipse farthest-side, #C4C4C4 0%, #FFFFFF 100%); /* Webkit (Chrome 10+) */
    background-image: -ms-radial-gradient(left top, ellipse farthest-side, #C4C4C4 0%, #FFFFFF 100%); /* Internet Explorer 10 Consumer Preview */
    background-image: radial-gradient(ellipse farthest-side at left top, #C4C4C4 0%, #FFFFFF 100%);
  }
  
  #header #topLeftArea {
    width: 200px;
    height: 61px;
    
    background-image: -moz-radial-gradient(right bottom, ellipse farthest-side, #FFFFFF 0%, #C4C4C4 100%); /* Firefox */
    background-image: -o-radial-gradient(right bottom, ellipse farthest-side, #FFFFFF 0%, #C4C4C4 100%); /* Opera */
    background-image: -webkit-gradient(radial, right bottom, 0, right bottom, 515, color-stop(0, #FFFFFF), color-stop(100, #C4C4C4)); /* Webkit (Safari/Chrome 9) */
    background-image: -webkit-radial-gradient(right bottom, ellipse farthest-side, #FFFFFF 0%, #C4C4C4 100%); /* Webkit (Chrome 10+) */
    background-image: -ms-radial-gradient(right bottom, ellipse farthest-side, #FFFFFF 0%, #C4C4C4 100%); /* Internet Explorer 10 Consumer Preview */
    background-image: radial-gradient(ellipse farthest-side at right bottom, #FFFFFF 0%, #C4C4C4 100%);
  }

  #header #topLeftArea.navHidden {
      background-image: -moz-radial-gradient(right top, ellipse farthest-side, #C4C4C4 0%, #FFFFFF 100%); /* Firefox */
      background-image: -o-radial-gradient(right top, ellipse farthest-side, #C4C4C4 0%, #FFFFFF 100%); /* Opera */
      background-image: -webkit-gradient(radial, right top, 0, right top, 515, color-stop(0, #C4C4C4), color-stop(100, #FFFFFF)); /* Webkit (Safari/Chrome 9) */
      background-image: -webkit-radial-gradient(right top, ellipse farthest-side, #C4C4C4 0%, #FFFFFF 100%); /* Webkit (Chrome 10+) */
      background-image: -ms-radial-gradient(right top, ellipse farthest-side, #C4C4C4 0%, #FFFFFF 100%); /* Internet Explorer 10 Consumer Preview */
      background-image: radial-gradient(ellipse farthest-side at right top, #C4C4C4 0%, #FFFFFF 100%);
  }
}

@media (max-width:499px) {
  #header #topRightArea,
  #header #topLeftArea {
    display: none;
  }
}

#header #headerText {
  top: 0px;
  left: 0px;
  position: absolute;
  width: 100%;
  height: 61px;
  overflow: hidden;
  
  letter-spacing: 6px;
  text-align: center;
  font-family: 'Amaranth';
  font-size: 48px;
  text-decoration: none;
}

#header a#headerText:link>.red,
#header a#headerText:visited>.red {
  color: #FF7F7F;
}

#header a#headerText:link>.green,
#header a#headerText:visited>.green {
  color: #7FFF7F;
}

#header a#headerText:link>.blue,
#header a#headerText:visited>.blue {
  color: #7F7FFF;
}

#header a#headerText:hover>.red,
#header a#headerText:active>.red {
  color: red;
}

#header a#headerText:hover>.green,
#header a#headerText:active>.green {
  color: #00FF00;
}

#header a#headerText:hover>.blue,
#header a#headerText:active>.blue {
  color: blue;
}

#header .red {
  text-shadow: 0px 0px 3px maroon;
}

#header .green {
  text-shadow: 0px 0px 3px green;
}

#header .blue {
  text-shadow: 0px 0px 3px navy;
}
