#nav {
  line-height: normal; /* Bootstrap reset */
}

@media (min-width:500px) {
  #nav {
    width: 200px;
    float: left;
    
    /* http://www.cssportal.com/css-gradient-generator/ */
    background-image: -moz-linear-gradient(right, #FFFFFF 0%, #C4C4C4 100%); /* Firefox */
    background-image: -webkit-gradient(linear, right top, left top, color-stop(0, #FFFFFF), color-stop(100, #C4C4C4)); /* Webkit (Safari/Chrome 9) */
    background-image: -webkit-linear-gradient(right, #FFFFFF 0%, #C4C4C4 100%); /* Webkit (Chrome 10+) */
    background-image: -o-linear-gradient(right, #FFFFFF 0%, #C4C4C4 100%); /* Opera */
    background-image: -ms-linear-gradient(right, #FFFFFF 0%, #C4C4C4 100%); /* Internet Explorer 10 Consumer Preview */
    background-image: linear-gradient(to left, #FFFFFF 0%, #C4C4C4 100%);
  }
  
  #nav #bottomLeftArea {
    height: 61px;
    
    background-image: -moz-radial-gradient(left top, ellipse farthest-side, #C4C4C4 0%, #FFFFFF 100%); /* Firefox */
    background-image: -o-radial-gradient(left top, ellipse farthest-side, #C4C4C4 0%, #FFFFFF 100%); /* Opera */
    background-image: -webkit-gradient(radial, left top, 0, left top, 515, color-stop(0, #C4C4C4), color-stop(100, #FFFFFF)); /* Webkit (Safari/Chrome 9) */
    background-image: -webkit-radial-gradient(left top, ellipse farthest-side, #C4C4C4 0%, #FFFFFF 100%); /* Webkit (Chrome 10+) */
    background-image: -ms-radial-gradient(left top, ellipse farthest-side, #C4C4C4 0%, #FFFFFF 100%); /* Internet Explorer 10 Consumer Preview */
    background-image: radial-gradient(ellipse farthest-side at left top, #C4C4C4 0%, #FFFFFF 100%);
  }
}

@media (max-width:499px) {
  #nav #bottomLeftArea {
    display: none;
  }
}

#nav.navHidden {
  display: none;
}

#nav #list {
  word-wrap: break-word;
}

#nav #list>ul {
  margin: 0;
  padding: 0;
}

#nav ul {
  list-style-type: none;
}

#nav li.level0 {
  margin: 18px 8px;
  position: relative; /* for span.shadow position */
}

#nav li.level0>a,
#nav li.level0>span {
  padding: 10px;
  display: block;
  font-family: Delius;
  font-size: 18px;
  text-align: center;
  text-shadow: 0px 0px 1px black;
  -moz-border-radius: 1em 4em 1em 4em;
  -webkit-border-radius: 1em 4em 1em 4em;
  border-radius: 1em 4em 1em 4em;
}

#nav li.level0>a,
#nav li.level0.open>span.shadow {
  -moz-box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
  -webkit-box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
  box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
}

#nav li.level0.open>a,
#nav li.level0.open>span {
  -moz-border-radius: 1em 1em 0em 0em;
  -webkit-border-radius: 1em 1em 0em 0em;
  border-radius: 1em 1em 0em 0em;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#nav li.level0 a {
  text-decoration: none;
}

#nav li.level0.red>a {
  background-color: #FF0000;
}

#nav li.level0.green>a {
  background-color: #00FF00;
}

#nav li.level0.blue>a {
  background-color: #0000FF;
}

#nav li.level0>a:link,
#nav li.level0>a:visited {
  color: black;
}

#nav li.level0.red>a:hover,
#nav li.level0.red>a:active,
#nav li.level0.red>span {
  color: maroon;
}

#nav li.level0.green>a:hover,
#nav li.level0.green>a:active,
#nav li.level0.green>span {
  color: green;
}

#nav li.level0.blue>a:hover,
#nav li.level0.blue>a:active,
#nav li.level0.blue>span {
  color: navy;
}

#nav li.level0.red>a:link,
#nav li.level0.red>a:visited {
  background-image: -moz-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #FF7F7F 100%); /* Firefox */
  background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(0, #FFFFFF), color-stop(100, #FF7F7F)); /* Webkit (Safari/Chrome 9) */
  background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #FF7F7F 100%); /* Webkit (Chrome 10+) */
  background-image: -o-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #FF7F7F 100%); /* Opera */
  background-image: -ms-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #FF7F7F 100%); /* Internet Explorer 10 Consumer Preview */
  background-image: radial-gradient(ellipse farthest-corner at center, #FFFFFF 0%, #FF7F7F 100%);
}

#nav li.level0.green>a:link,
#nav li.level0.green>a:visited {
  background-image: -moz-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #7FFF7F 100%); /* Firefox */
  background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(0, #FFFFFF), color-stop(100, #7FFF7F)); /* Webkit (Safari/Chrome 9) */
  background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #7FFF7F 100%); /* Webkit (Chrome 10+) */
  background-image: -o-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #7FFF7F 100%); /* Opera */
  background-image: -ms-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #7FFF7F 100%); /* Internet Explorer 10 Consumer Preview */
  background-image: radial-gradient(ellipse farthest-corner at center, #FFFFFF 0%, #7FFF7F 100%);
}

#nav li.level0.blue>a:link,
#nav li.level0.blue>a:visited {
  background-image: -moz-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #7F7FFF 100%); /* Firefox */
  background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(0, #FFFFFF), color-stop(100, #7F7FFF)); /* Webkit (Safari/Chrome 9) */
  background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #7F7FFF 100%); /* Webkit (Chrome 10+) */
  background-image: -o-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #7F7FFF 100%); /* Opera */
  background-image: -ms-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #7F7FFF 100%); /* Internet Explorer 10 Consumer Preview */
  background-image: radial-gradient(ellipse farthest-corner at center, #FFFFFF 0%, #7F7FFF 100%);
}

#nav li.level0.red>a:hover {
  background-image: -moz-radial-gradient(center, ellipse closest-side, #FFFFFF 0%, #FF7F7F 100%); /* Firefox */
  background-image: -webkit-gradient(radial, center center, 0, center center, 125, color-stop(0, #FFFFFF), color-stop(100, #FF7F7F)); /* Webkit (Safari/Chrome 9) */
  background-image: -webkit-radial-gradient(center, ellipse closest-side, #FFFFFF 0%, #FF7F7F 100%); /* Webkit (Chrome 10+) */
  background-image: -o-radial-gradient(center, ellipse closest-side, #FFFFFF 0%, #FF7F7F 100%); /* Opera */
  background-image: -ms-radial-gradient(center, ellipse closest-side, #FFFFFF 0%, #FF7F7F 100%); /* Internet Explorer 10 Consumer Preview */
  background-image: radial-gradient(ellipse closest-side at center, #FFFFFF 0%, #FF7F7F 100%);
}

#nav li.level0.green>a:hover {
  background-image: -moz-radial-gradient(center, ellipse closest-side, #FFFFFF 0%, #7FFF7F 100%); /* Firefox */
  background-image: -webkit-gradient(radial, center center, 0, center center, 125, color-stop(0, #FFFFFF), color-stop(100, #7FFF7F)); /* Webkit (Safari/Chrome 9) */
  background-image: -webkit-radial-gradient(center, ellipse closest-side, #FFFFFF 0%, #7FFF7F 100%); /* Webkit (Chrome 10+) */
  background-image: -o-radial-gradient(center, ellipse closest-side, #FFFFFF 0%, #7FFF7F 100%); /* Opera */
  background-image: -ms-radial-gradient(center, ellipse closest-side, #FFFFFF 0%, #7FFF7F 100%); /* Internet Explorer 10 Consumer Preview */
  background-image: radial-gradient(ellipse closest-side at center, #FFFFFF 0%, #7FFF7F 100%);
}

#nav li.level0.blue>a:hover {
  background-image: -moz-radial-gradient(center, ellipse closest-side, #FFFFFF 0%, #7F7FFF 100%); /* Firefox */
  background-image: -webkit-gradient(radial, center center, 0, center center, 125, color-stop(0, #FFFFFF), color-stop(100, #7F7FFF)); /* Webkit (Safari/Chrome 9) */
  background-image: -webkit-radial-gradient(center, ellipse closest-side, #FFFFFF 0%, #7F7FFF 100%); /* Webkit (Chrome 10+) */
  background-image: -o-radial-gradient(center, ellipse closest-side, #FFFFFF 0%, #7F7FFF 100%); /* Opera */
  background-image: -ms-radial-gradient(center, ellipse closest-side, #FFFFFF 0%, #7F7FFF 100%); /* Internet Explorer 10 Consumer Preview */
  background-image: radial-gradient(ellipse closest-side at center, #FFFFFF 0%, #7F7FFF 100%);
}

#nav li.level0.red>a:active {
  background-image: none;
}

#nav li.level0.green>a:active {
  background-image: none;
}

#nav li.level0.blue>a:active {
  background-image: none;
}

#nav li.level0.red>span {
  background-image: -moz-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #FF0000 100%); /* Firefox */
  background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(0, #FFFFFF), color-stop(100, #FF0000)); /* Webkit (Safari/Chrome 9) */
  background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #FF0000 100%); /* Webkit (Chrome 10+) */
  background-image: -o-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #FF0000 100%); /* Opera */
  background-image: -ms-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #FF0000 100%); /* Internet Explorer 10 Consumer Preview */
  background-image: radial-gradient(ellipse farthest-corner at center, #FFFFFF 0%, #FF0000 100%);
}

#nav li.level0.green>span {
  background-image: -moz-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #00FF00 100%); /* Firefox */
  background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(0, #FFFFFF), color-stop(100, #00FF00)); /* Webkit (Safari/Chrome 9) */
  background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #00FF00 100%); /* Webkit (Chrome 10+) */
  background-image: -o-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #00FF00 100%); /* Opera */
  background-image: -ms-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #00FF00 100%); /* Internet Explorer 10 Consumer Preview */
  background-image: radial-gradient(ellipse farthest-corner at center, #FFFFFF 0%, #00FF00 100%);
}

#nav li.level0.blue>span {
  background-image: -moz-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #0000FF 100%); /* Firefox */
  background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(0, #FFFFFF), color-stop(100, #0000FF)); /* Webkit (Safari/Chrome 9) */
  background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #0000FF 100%); /* Webkit (Chrome 10+) */
  background-image: -o-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #0000FF 100%); /* Opera */
  background-image: -ms-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #0000FF 100%); /* Internet Explorer 10 Consumer Preview */
  background-image: radial-gradient(ellipse farthest-corner at center, #FFFFFF 0%, #0000FF 100%);
}

#nav li ul {
  display: none;
}

#nav li.open>ul,
#nav li.level0.open>span.shadow {
  display: block;
}

#nav li.level0>span.shadow {
  display: none;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  pointer-events: none; /* http://stackoverflow.com/a/4839672 (css4-ui) */
  background-image: none !important;
  -moz-border-radius: 1em 1em 0.5em 0.5em !important;
  -webkit-border-radius: 1em 1em 0.5em 0.5em !important;
  border-radius: 1em 1em 0.5em 0.5em !important;
}

#nav li.level0.red>ul {
  background-image: -moz-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #FFBF7F 100%); /* Firefox */
  background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(0, #FFFFFF), color-stop(100, #FFBF7F)); /* Webkit (Safari/Chrome 9) */
  background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #FFBF7F 100%); /* Webkit (Chrome 10+) */
  background-image: -o-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #FFBF7F 100%); /* Opera */
  background-image: -ms-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #FFBF7F 100%); /* Internet Explorer 10 Consumer Preview */
  background-image: radial-gradient(ellipse farthest-corner at center, #FFFFFF 0%, #FFBF7F 100%);
}

#nav li.level0.green>ul {
  background-image: -moz-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #BFFF7F 100%); /* Firefox */
  background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(0, #FFFFFF), color-stop(100, #BFFF7F)); /* Webkit (Safari/Chrome 9) */
  background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #BFFF7F 100%); /* Webkit (Chrome 10+) */
  background-image: -o-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #BFFF7F 100%); /* Opera */
  background-image: -ms-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #BFFF7F 100%); /* Internet Explorer 10 Consumer Preview */
  background-image: radial-gradient(ellipse farthest-corner at center, #FFFFFF 0%, #BFFF7F 100%);
}

#nav li.level0.blue>ul {
  background-image: -moz-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #7FBFFF 100%); /* Firefox */
  background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(0, #FFFFFF), color-stop(100, #7FBFFF)); /* Webkit (Safari/Chrome 9) */
  background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #7FBFFF 100%); /* Webkit (Chrome 10+) */
  background-image: -o-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #7FBFFF 100%); /* Opera */
  background-image: -ms-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #7FBFFF 100%); /* Internet Explorer 10 Consumer Preview */
  background-image: radial-gradient(ellipse farthest-corner at center, #FFFFFF 0%, #7FBFFF 100%);
}

#nav li.level0>ul {
  padding-left: 12px;
  line-height: 1.5;
  padding: 8px 4px 8px 16px; /* padding-left = 12px + 4px */
  border-radius: 0em 0em 0.5em 0.5em;
  -moz-border-radius: 0em 0em 0.5em 0.5em;
  -webkit-border-radius: 0em 0em 0.5em 0.5em;
}

#nav li.level1>ul,
#nav li.level2>ul,
#nav li.level3>ul,
#nav li.level4>ul,
#nav li.level5>ul {
  font-size: 95%;
}

#nav li.level1>ul {
  padding-left: 11.4px; /* 0.95 * 12px */
}

#nav li.level2>ul {
  padding-left: 10.83px;
}

#nav li.level3>ul {
  padding-left: 10.2885px;
}

#nav li.level4>ul {
  padding-left: 9.774075px;
}

#nav li.level5 ul {
  padding-left: 9.28537125px;
}

/* http://stackoverflow.com/a/10181948/1267803 */
#nav li.level0 li.folder>a:before,
#nav li.level0 li.folder>span:before {
  content: "▸";
  position: absolute;
}

#nav li.level0 li.folder.open>a:before,
#nav li.level0 li.folder.open>span:before {
  content: "▾";
}

#nav li.level0>ul>li.folder>a:before,
#nav li.level0>ul>li.folder>span:before {
  margin-left: -12px;
}

#nav li.level1>ul>li.folder>a:before,
#nav li.level1>ul>li.folder>span:before {
  margin-left: -11.4px;
}

#nav li.level2>ul>li.folder>a:before,
#nav li.level2>ul>li.folder>span:before {
  margin-left: -10.83px;
}

#nav li.level3>ul>li.folder>a:before,
#nav li.level3>ul>li.folder>span:before {
  margin-left: -10.2885px;
}

#nav li.level4>ul>li.folder>a:before,
#nav li.level4>ul>li.folder>span:before {
  margin-left: -9.774075px;
}

#nav li.level5 li.folder>a:before,
#nav li.level5 li.folder>span:before {
  margin-left: -9.28537125px;
}

#nav li.level0 li.folder>a::before,
#nav li.level0 li.folder>span::before {
  /*content: "➤";*/
  content: "▸";
  position: absolute;
}

#nav li.level0 li.folder.open>a::before,
#nav li.level0 li.folder.open>span::before {
  /*content: "▼";*/
  content: "▾";
}

#nav li.level0>ul>li.folder>a::before,
#nav li.level0>ul>li.folder>span::before {
  margin-left: -12px;
}

#nav li.level1>ul>li.folder>a::before,
#nav li.level1>ul>li.folder>span::before {
  margin-left: -11.4px;
}

#nav li.level2>ul>li.folder>a::before,
#nav li.level2>ul>li.folder>span::before {
  margin-left: -10.83px;
}

#nav li.level3>ul>li.folder>a::before,
#nav li.level3>ul>li.folder>span::before {
  margin-left: -10.2885px;
}

#nav li.level4>ul>li.folder>a::before,
#nav li.level4>ul>li.folder>span::before {
  margin-left: -9.774075px;
}

#nav li.level5 li.folder>a::before,
#nav li.level5 li.folder>span::before {
  margin-left: -9.28537125px;
}

#nav li.level0>ul a {
  color: black;
}

#nav li.level0 li.folder>a,
#nav li.level0 li.folder>span {
  font-style: italic;
}

#nav li.level0 li.folder.open>a,
#nav li.level0 li.folder.open>span {
  font-style: normal;
}

#nav li.level0 li.item span,
#nav li.level0 li.folder>span {
  font-weight: bold;
}

#nav li.level0 li.item>a,
#nav li.level0 li.item>span,
#nav li.level0 li.folder>a,
#nav li.level0 li.folder>span {
  display: inline-block; /* http://stackoverflow.com/a/9814390 */
  line-height: normal;
}
